

.company_name {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



.heading_1 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
main {
  max-width: 1140px;
  margin: 0 auto;
}
/*nav styles */
.header{
    max-width: 1440px

}
.bg-image {
    background-image: url(../Assets/Hero-bg.png);
    height: 100vh;
    

    
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}
nav a{
    text-decoration: none;
}
.company_name{
    color: #4E47FF;
    font-size: 34px;
    line-height: 150%;
}
.btn{
    background-color: #4E47FF;
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding: 18px 30px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    margin-top: 20px;
}


/*banner styles */
.banner{
    text-align: center;
}
.heading{
    max-width: 905px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 65px;
    margin-bottom: 20px;
    margin-top: 147px
    
}
/*actions */
.action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    gap: 100px;
}
.action_img{
    border-radius: 30px;
    margin-top: 200px; /* Adds space above the image */
}
.sub_title {
    font-size: 24px;
    color: #646465;
}
.action{
    margin-top: 0px;
    max-width: 517px;
    margin-right: 40px; /* Adds space to the right of the section */
}

/*user_section*/
.section{
    padding: 5px 0px;
    margin-top: 100px;
}
.user-section {
    background-color: #d3d1d198;
    border-radius: 10px;
}
.title_1{
    font-size: 38px;
    text-align: center;
    margin-top: 100px;
}
/*productive_section*/
.Productive_parent{
    display: flex;
    justify-content: center;
    gap: 120px; /* Increase this value for more space */
}
.title{
    font-size: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.sub-title{
    font-size: 20px;
    margin-top: 10px; 

}